img {
  width: 150px;
}
div {
  margin: auto;

  width: 60%;
  /* 
  border: 5px solid #ffff00; */

  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
