<!DOCTYPE html>
<html>
    <head><title>Add a Friend</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" href = "../static/css/joinchallenge.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    </head>
    
    
        <body class="w3-light-grey">

            <!-- Navigation Bar -->
            <div class="w3-bar w3-white w3-large">
              <a href="" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fas fa-dumbbell w3-margin-right"></i></a>
              <a href="" class="w3-bar-item w3-button w3-mobile">Profile</a>
            </div>            
            
            <div class="w3-content" style="max-width:1532px;"
            
              <div class="w3-container" id="contact">
                <h2>Add a Friend</h2>
                <p>Type in a username to add them as a friend</p>
                <form action="/action_page.php" target="_blank">
                  <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Enter A Username Here" required="" name="username"></p>
                  <p><button class="w3-button w3-black w3-padding-large" type="submit">Add Friend</button></p>
                </form>
              </div>
            
            </div>
            
           
            
        </body>
</html>